<section class="contacts">
    <div class="container contacts-container">
        <h3 class="contacts-subtitle">Contacts</h3>
        <h2 class="contacts-title">Get in Touch</h2>
        <p class="contacts-text">We'd love to hear from you anytime!</p>
        <address>
            <ul class="contacts-list">
                <li>
                    <svg class="contacts-icon" width="24" height="24">
                      <use href="/img/icons.svg#icon-envelope"></use>
                    </svg>
                    <a class="contacts-link" href="mailto:hello@organicstore.com">hello@organicstore.com</a>
                </li>
                <li>
                    <svg class="contacts-icon" width="24" height="24">
                      <use href="img/icons.svg#icon-phone"></use>
                    </svg>
                    <a class="contacts-link" href="tel:+1555 3291024">++1 (555) 329-1024</a>
                </li>
            </ul>
        </address>
        <form class="contacts-form"
                name="contacts-form"
                autocomplete="on"
                novalidatename>
                
                <label class="contacts-label"
                      for="userName">Name
                </label>
                <input name="userName"
                      id="userName"
                      class="input"
                      type="text"
                      placeholder="Sarah"
                      requared
                      >
                
                <label class="contacts-label"
                        for="userImail">Email
                </label>
                <input name="userEmail"
                      id="userEmail"
                      class="input"
                      type="email"
                      placeholder="hello@organic.com"
                      requared
                      autocomplete="on">
        </form>
    </div>
</section>
