<section class="contacts">
    <div class="container feedback-container">
        <h3 class="feedback-subtitle">Contacts</h3>
        <h2 class="feedback-title">Get in Touch</h2>
        <p class="feedback-text">We'd love to hear from you anytime!</p>
        <address>
            <ul class="contacts-list">
                <li>
                    <svg class="contacts-icon" width="24" height="24">
                      <use href="/img/icons.svg#icon-imail"></use>
                    </svg>
                    <a class="contacts" href="mailto:hello@organicstore.com">hello@organicstore.com</a>
                </li>
                <li>
                    <svg class="contacts-icon" width="24" height="24">
                      <use href="/img/icons.svg#icon-phone"></use>
                    </svg>
                    <a class="contacts" href="tel:+1555 3291024">++1 (555) 329-1024</a>
                </li>
            </ul>
        </address>
        <dialog class="footer-form" 
                name="feedback-form"
                autocomplete="on"
                novalidatename="feedback-form">
        </dialog>
    </div>
</section>