<section class="feedbacks section" id="feedbacks-id">
  <div class="container">
    <h2 class="feedbacks-title"
      data-aos="fade-up">What Our Customers Say</h2>
    <p class="feedbacks-text"
      data-aos="fade-up">
      We're proud to grow a community that values health, sustainability, and
      real flavor. Read what our happy customers have to say about their
      experience with our organic products.
    </p>
    <ul class="feedbacks-list">
      <li class="feedback-list-item"
        data-aos="fade-up">
        <div class="feedback-card-wrap-top">
          <div class="stars-wrap">
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
          </div>
          <p class="feedback-item-text">
            Their eco-friendly packaging is a big plus for me. Highly recommend!
          </p>
        </div>
        <div class="feedbacks-card-wrap-btm">
          <div class="feedbacks-item-img">
            <img
              srcset="
                /img/feedcacks/avatar-img-1.png    1x,
                /img/feedcacks/avatar-img-1@2x.png 2x
              "
              src="/img/feedcacks/avatar-img-1.png"
              alt="Tony Lee"
              width="48"
              height="48"
              loading="lazy"
            />
          </div>
          <p class="feedback-item-name">Tony Lee</p>
        </div>
      </li>

      <li class="feedback-list-item"
        data-aos="fade-up">
        <div class="feedback-card-wrap-top">
          <div class="stars-wrap">
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
          </div>
          <p class="feedback-item-text">
            "I absolutely love the variety of organic produce available here.
            Everything is fresh and bursting with flavor!"
          </p>
        </div>
        <div class="feedbacks-card-wrap-btm">
          <div class="feedback-item-img">
            <img
              srcset="
                /img/feedcacks/avatar-img-2.png     1x,
                /img/feedcacks/avatar-img-2@2x.png 2x
              "
              src="/img/feedcacks/avatar-img-2.png"
              alt="Emily Johnson"
              width="48"
              height="48"
              loading="lazy"
            />
          </div>
          <p class="feedback-item-name">Emily Johnson</p>
        </div>
      </li>

      <li class="feedback-list-item"
        data-aos="fade-up">
        <div class="feedback-card-wrap-top">
          <div class="stars-wrap">
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg
              class="feedback-icon feedback-icon-white"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
          </div>
          <p class="feedback-item-text">
            "The staff is incredibly knowledgeable and always willing to help me
            find what I need. Great service!"
          </p>
        </div>
        <div class="feedbacks-card-wrap-btm">
          <div class="feedback-item-img">
            <img
              srcset="
                /img/feedcacks/avatar-img-3.png    1x,
                /img/feedcacks/avatar-img-3@2x.png 2x
              "
              src="/img/feedcacks/avatar-img-3.png"
              alt="Michael Smith"
              width="48"
              height="48"
              loading="lazy"
            />
          </div>
          <p class="feedback-item-name">Michael Smith</p>
        </div>
      </li>

      <li class="feedback-list-item"
        data-aos="fade-up">
        <div class="feedback-card-wrap-top">
          <div class="stars-wrap">
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
          </div>
          <p class="feedback-item-text">
            "I've noticed a significant improvement in my health since switching
            to their organic products. Highly recommend!"
          </p>
        </div>
        <div class="feedbacks-card-wrap-btm">
          <div class="feedback-item-img">
            <img
              srcset="
                /img/feedcacks/avatar-img-4.png    1x,
                /img/feedcacks/avatar-img-4@2x.png 2x
              "
              src="/img/feedcacks/avatar-img-4.png"
              alt="Sarah Davis"
              width="48"
              height="48"
              loading="lazy"
            />
          </div>
          <p class="feedback-item-name">Sarah Davis</p>
        </div>
      </li>

      <li class="feedback-list-item"
        data-aos="fade-up">
        <div class="feedback-card-wrap-top">
          <div class="stars-wrap">
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg
              class="feedback-icon feedback-icon-white"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg
              class="feedback-icon feedback-icon-white"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
          </div>
          <p class="feedback-item-text">
            "The range of organic snacks is fantastic! Perfect for my kids, who
            love them and I feel good about giving them healthy options."
          </p>
        </div>
        <div class="feedbacks-card-wrap-btm">
          <div  class="feedback-item-img">
            <img
              srcset="
                /img/feedcacks/avatar-img-5.png    1x,
                /img/feedcacks/avatar-img-5@2x.png 2x
              "
              src="/img/feedcacks/avatar-img-5.png"
              alt="David Brown"
              width="48"
              height="48"
              loading="lazy"
            />
          </div>
          <p class="feedback-item-name">David Brown</p>
        </div>
      </li>

      <li class="feedback-list-item"
        data-aos="fade-up">
        <div class="feedback-card-wrap-top">
          <div class="stars-wrap">
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg
              class="feedback-icon feedback-icon-white"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
          </div>
          <p class="feedback-item-text">
            "I appreciate that they source local ingredients. It makes me feel
            connected to the community!"
          </p>
        </div>
        <div class="feedbacks-card-wrap-btm">
          <div class="feedback-item-img">
            <img
              srcset="
                /img/feedcacks/avatar-img-6.png    1x,
                /img/feedcacks/avatar-img-6@2x.png 2x
              "
              src="/img/feedcacks/avatar-img-6.png"
              alt="Jessica Wilson"
              width="48"
              height="48"
              loading="lazy"
            />
          </div>
          <p class="feedback-item-name">Jessica Wilson</p>
        </div>
      </li>

      <li class="feedback-list-item"
        data-aos="fade-up">
        <div class="feedback-card-wrap-top">
          <div class="stars-wrap">
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg
              class="feedback-icon feedback-icon-white"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg
              class="feedback-icon feedback-icon-white"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
          </div>
          <p class="feedback-item-text">
            "The prices are fair for the quality of food. I never feel guilty
            about spending a little more here."
          </p>
        </div>
        <div class="feedbacks-card-wrap-btm">
          <div class="feedback-item-img">
            <img
              srcset="
                /img/feedcacks/avatar-img-7.png    1x,
                /img/feedcacks/avatar-img-7@2x.png 2x
              "
              src="/img/feedcacks/avatar-img-7.png"
              alt="Andrew Lee"
              width="48"
              height="48"
              loading="lazy"
            />
          </div>
          <p class="feedback-item-name">Andrew Lee</p>
        </div>
      </li>

      <li class="feedback-list-item"
        data-aos="fade-up">
        <div class="feedback-card-wrap-top">
          <div class="stars-wrap">
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg class="feedback-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg
              class="feedback-icon feedback-icon-white"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg
              class="feedback-icon feedback-icon-white"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
            <svg
              class="feedback-icon feedback-icon-white"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star-dark"></use>
            </svg>
          </div>
          <p class="feedback-item-text">
            "Their eco-friendly packaging is a big plus for me. It's nice to
            support a business that cares about the environment!"
          </p>
        </div>
        <div class="feedbacks-card-wrap-btm">
          <div class="feedback-item-img">
            <img
              srcset="
                /img/feedcacks/avatar-img-8.png    1x,
                /img/feedcacks/avatar-img-8@2x.png 2x
              "
              src="/img/feedcacks/avatar-img-8.png"
              alt="Laura Kim"
              width="48"
              height="48"
              loading="lazy"
            />
          </div>
          <p class="feedback-item-name">Laura Kim</p>
        </div>
      </li>
    </ul>
  </div>
</section>
