<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="logo" href="#">
        <svg width="142" height="60">
          <use href="../img/icons.svg#icon-Company-Logo"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="list-item">Home</li>
        <li class="list-item">Mission</li>
        <li class="list-item">Benefits</li>
        <li class="list-item">Assortment</li>
        <li class="list-item">Feedbacks</li>
        <li class="list-item">FAQ</li>
        <li class="list-item">Contacts</li>
      </ul>
      <button class="order" type="button" aria-label="order">
        Order
      </button>
      <button class="burger-menu" type="button" aria-label="open menu">
        <svg class="icon-burger-menu" width="32" height="32">
          <use href="../img/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
