<section class="hero" id="home-id">
  <div class="container hero-container">
    <div class="hero-context">
      <h1 class="hero-header" data-aos="fade-up">
        Organic Shop - Naturally better.
      </h1>
      <p class="hero-text" data-aos="fade-up">
        Your source for fresh, healthy, and responsibly grown food. Discover the
        taste of nature with our carefully selected organic products.
      </p>
      <button
        type="button"
        class="hero-btn"
        data-aos="fade-up"
        onclick="location.href = '#contacts-id'"
      >
        Get in touch
      </button>
    </div>
  </div>
</section>
