.assorts {
    background-color: var(--color-japanese-laurel-lighter);
    padding-top: 64px;
    padding-bottom: 64px;
}
@media only screen and (min-width: 1440px) {
  .assorts {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}
.assorts-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-neutral-darkest);
    margin-bottom: 16px;
}
.assorts-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: var(--color-neutral-darkest);

    margin-bottom: 24px;
}
.assorts-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}