:root {
  /* font-family: Public Sans, sans-serif; */
  --font-family: "Public Sans", sans-serif;
  --second-family: "Chivo",
    sans-serif;
    -webkit-font-smoothing: antialiased;

      --color-neutral-darkest: #010400;
      --color-neutral-lighter: #d8d9d8;
      --color-white: #fff;
      --color-neutral-lightest: #f2f2f2;
      --color-neutral-light: #b2b3b2;
      --color-neutral: #80817f;
      --color-neutral-dark: #4d4f4c;
      --color-neutral-darker: #1a1d19;
      --opacity-transparent: rgba(255, 255, 255, 0);
      --opacity-white-5: rgba(255, 255, 255, 0.05);
      --opacity-white-10: rgba(255, 255, 255, 0.1);
      --opacity-white-15: rgba(255, 255, 255, 0.15);
      --opacity-white-20: rgba(255, 255, 255, 0.2);
      --opacity-white-30: rgba(255, 255, 255, 0.3);
      --opacity-white-40: rgba(255, 255, 255, 0.4);
      --opacity-white-50: rgba(255, 255, 255, 0.5);
      --opacity-white-60: rgba(255, 255, 255, 0.6);
      --opacity-neutral-darkest-5: rgba(1, 4, 0, 0.05);
      --opacity-neutral-darkest-10: rgba(1, 4, 0, 0.1);
      --opacity-neutral-darkest-15: rgba(1, 4, 0, 0.15);
      --opacity-neutral-darkest-20: rgba(1, 4, 0, 0.2);
      --opacity-neutral-darkest-30: rgba(1, 4, 0, 0.3);
      --opacity-neutral-darkest-40: rgba(1, 4, 0, 0.4);
      --opacity-neutral-darkest-50: rgba(1, 4, 0, 0.5);
      --opacity-neutral-darkest-60: rgba(1, 4, 0, 0.6);
      --color-japanese-laurel-lightest: #e8eee5;
      --color-japanese-laurel-lighter: #d1ddcc;
      --color-japanese-laurel-light: #5e8a4d;
      --color-japanese-laurel: #1a5901;
      --color-japanese-laurel-dark: #144700;
      --color-japanese-laurel-darker: #0a2300;
      --color-japanese-laurel-darkest: #071a00;
      --color-error-red: #a00000;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  
  color: var(--color-white);
}
h2 {
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-neutral-darkest);
} 
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
