.benefits {
    background-color: var(--color-japanese-laurel);
    padding-top: 64px;
    padding-bottom: 64px;
}
.benefits-img {
    margin-bottom: 24px;
    width: 343px;
    height: 487px;
    object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .benefits-img {
    width: 704px;
    height: 487px;
  }
}
@media only screen and (min-width: 1440px) {
  .benefits-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .benefits-text-container {
    max-width: calc(100% - 668px);
  }
  .benefits-img {
    width: 644px;
    height: 669px;
  }
}
.benefits-title {
    margin-bottom: 24px;
    font-size: 36px;
}
.benefits-description {
    margin-bottom: 32px;
    font-size: 18px;
}
.benefits-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
}
.benefits-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
}
@media only screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 16px;
    row-gap: 32px;
}
.benefits-item {
    width: calc((100% - 16px)/2);
  }
}
@media only screen and (min-width: 1440px) {
  .benefits-list {
    gap: 24px;
  }
  .benefits-item {
    width: calc((100% - 24px)/2);
  }
}
.benefits-icon {
    fill: var(--color-white);
}
.benefits-item h3 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: var(--color-white);
}
