.feedbacks {
  background-color: var(--color-japanese-laurel-lightest);
}

.feedbacks-title {
  font-family: 'Chivo', sans-serif;

  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-neutral-darkest);

  max-width: 343px;

  margin: 0 auto 16px;
}
@media only screen and (min-width: 768px) {
  .feedbacks-title {
    max-width: 644px;
    margin-bottom: 24px;
  }
}
@media only screen and (min-width: 1440px) {
  .feedbacks-title {
    font-size: 48px;
  }
}
.feedbacks-text {
  font-size: 18px;
  text-align: center;
  color: var(--color-neutral-darkest);

  max-width: 343px;

  margin: 0 auto 24px;
}
@media only screen and (min-width: 768px) {
  .feedbacks-text {
    max-width: 644px;
  }
}
@media only screen and (min-width: 1440px) {
  .feedbacks-text {
    margin-bottom: 80px;
  }
}
.feedbacks-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media only screen and (min-width: 768px) {
  .feedbacks-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.feedback-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--opacity-neutral-darkest-15);
  padding: 32px;
  width: 100%;
  height: 314px;
}
@media only screen and (min-width: 768px) {
  .feedback-list-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1440px) {
  .feedback-list-item {
    width: calc((100% - 24px * 3) / 4);
  }
}
.feedback-card-wrap-top {
  max-width: 279px;
}
@media only screen and (min-width: 768px) {
  .feedback-card-wrap-top {
    max-width: 276px;
  }
}
@media only screen and (min-width: 1440px) {
  .feedback-card-wrap-top {
    max-width: 246px;
  }
}
.stars-wrap {
  display: flex;
  gap: 4px;
  margin-bottom: 24px;
}
.feedback-icon-white {
  fill: none;
  stroke-width: 1px;
  stroke: var(--color-neutral-darkest);
}
.feedback-item-text {
  font-size: 18px;
  color: var(--color-neutral-darkest);
}
.feedbacks-card-wrap-btm {
  display: flex;
  align-items: center;
  gap: 16px;
}
.feedback-item-name {
  font-weight: 600;
  color: var(--color-neutral-darkest);
}
