.footer {
  background-color: var(--color-japanese-laurel-darker);
  color: var(--color-white);
}
.footer-container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.footer-logo {
  display: flex;
  align-items: center;
}
.footer-leaf {
  width: 140px;
  height: 70px;
  fill: var(--color-white);

  transition: opacity var(--slow);
}
.footer-leaf:hover,
.footer-leaf:focus {
  opacity: 0.6;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .footer-list {
    flex-direction: row;
  }
}

.footer-list-item a {
  transition: opacity 250ms ease-in-out;;
}

.footer-list-item a:hover,
.footer-list-item a:focus {
  opacity: 0.6;
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
}
.footer-socials li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  transition: opacity 250ms ease-in-out;
}
.footer-socials li:hover,
.footer-socials li:focus {
  opacity: 0.6;
}

.footer-socials svg {
  fill: var(--color-white);
  width: 32px;
  height: 32px;
  display: block;
}

.footer-socials a:focus-visible {
  outline: 2px solid var(--color-white);
  outline-offset: 2px;
}

.footer-bottom {
  text-align: center;
  margin-top: 46px;
}

.footer-line {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 32px;
}

.footer-copyright {
  font-size: 14px;
  opacity: 0.7;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .footer-top {
    flex-direction: row;
    margin-bottom: 80px;
  }
  .footer-logo {
    margin-right: 260px;
  }
  .footer-leaf {
    width: 84px;
    height: 36px;
  }
  .footer-socials {
    margin-left: auto;
    gap: 0;
  }
}